/*
Team Toucan-13 part of the chingu-voyage-3
Team Members: Aaron Onojaife, laurailona, Vadim Klimets, Jordan Gill
*/

/* Font */
@import url(https://fonts.googleapis.com/css?family=Signika:300,600);
/* Font END */

/* Global Styles */
body {
margin: 0;
padding: 0;
font-family: signika;
font-weight: 300;
}
/* Global Styles END */

/* Header */

/* Header END*/

/* Intro */

/* Intro END */

/* What is tickyBot section */

/* What is tickyBot section END */

/* How it works section */

/* How it works section END*/

/* Start using tickybot today section */

/* Start using tickybot today section END */

/* Footer */

/* Footer END*/
